body {
	margin: 0 3.5em;
}

//Logo

.logo-container {
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

//searchbar

.search-container {
	display: flex;
	justify-content: center;

	input {
		background-color: #e7e7e7;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		border: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 10px;
		height: 30px;
		width: 89%;
	}
	button {
		font-size: 24px;

		background-color: #e7e7e7;
		border: none;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 10px;
	}
}

//filter tags

.tag-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 2em;

	.tag {
		color: white;
		font-weight: 600;
		font-size: 0.9em;

		display: flex;
		align-items: center;
		margin: 0.35em;

		height: 30px;

		border-radius: 5px;

		p {
			padding: 0.35em;
		}
		span {
			padding: 0.5em;
		}
	}

	.ingredient-tag {
		background-color: #3282f7;
	}
	.utensil-tag {
		background-color: #ed6454;
	}
	.appliance-tag {
		background-color: #68d9a4;
	}
}

//dropdown Search

.dropdown-btn {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #3282f7;
	border-radius: 5px;
	width: 180px;
	margin: 2em 4em;

	input {
		justify-self: flex-start;
		font-size: 1em;
		font-weight: 500;
		padding-left: 0.5em;
		color: white;
		width: 150px;
		height: 45px;
		border: none;
		background-color: #3282f7;
		border-radius: 5px;
	}
	span {
		color: white;
	}
	::placeholder {
		font-family: "lato";
		font-size: 1em;
		font-weight: 500;
		padding-left: 0.25em;
		color: white;
	}
	:focus {
		outline: none;
		box-shadow: none;
	}

	.item-container {
		display: flex;
		flex-direction: column;

		ul {
			margin: 0;
			padding: 0;
			padding-top: 0.1em;
			width: 170px;
			list-style-type: none;

			.list-item {
				color: white;
				width: 162px;
				font-size: 1em;
				padding: 0.35em 0.55em;
				font-weight: 400;
				list-style: none;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				transition: background-color 150ms;
			}
			:hover {
				background-color: rgba(207, 207, 207, 0.288);
			}
		}
	}
}

.appliance {
	background-color: #68d9a4;
	input {
		background-color: #68d9a4;
	}
}
.utensil {
	background-color: #ed6454;
	input {
		background-color: #ed6454;
	}
}

//Recipe Cards

.card {
	background-color: #e7e7e7;

	margin: 2em;
	height: 380px;
	width: 360px;

	.img-block {
		background-color: #c7bebe;
		height: 170px;
	}
	.card-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.25em;
		h2 {
			font-weight: 400;
			font-size: 1.2em;
			width: 70%;
		}
		p {
			padding-right: 1em;
			align-self: flex-start;
			.clock-icon {
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: transparent; // can be any color
			}
		}
	}

	.details {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 0.25em;
		font-size: 0.8em;

		.ingredients-container {
			ul {
				padding: 0 0.25em;
				li {
					line-height: 1.7;
					list-style: none;
				}
			}
		}

		.description {
			display: -webkit-box;
			max-width: 400px;
			height: 120px;
			-webkit-line-clamp: 7;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 1.4;
			width: 50%;
			padding-right: 0.2em;
		}
	}
}
